# Python files
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
*.pyo

# Virtual environment
.venv/
env/
ENV/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Ignore model files (besar dan sudah diupload terpisah)
*.h5
*.pkl
*.joblib

# Ignore Docker-related files
*.log
*.pid
*.seed
*.backup

# Ignore temporary files
*.swp
*.swo
.DS_Store
*.bak
*.tmp
*.old

# TensorFlow checkpoints
checkpoint
*.ckpt
*.pb
*.pbtxt
.saved_model/

# VSCode and IDE configurations
.vscode/
.idea/

# Node.js (if using for front-end)
node_modules/

# Environment configuration
.env

# Cloud-specific files (optional)
.gcloudignore
